.custom-card {
    border: 1px solid #ddd;
    border-radius: 8px; 
    padding: 16px; 
  }
  
  .card-title {
    color: #007bff;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  p {
    margin-bottom: 16px;
  }
  
  .btn-back {
    background-color: #6c757d;
    color: #fff; 
  }

  .updateBtn {
    margin-bottom: 10px;
  }
  
  .borderBox {
    border: 1px solid #ccc;
    padding: 8px; 
    border-radius: 4px; 
    margin-top: 0px;
  }