* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.homeNav {
    position: fixed;
    top: 0;
    width: 100%;
}

.desakuimg {
    width: 17rem;
    border: 2px solid rgb(1, 168, 10);
    border-radius: 50px;
    margin-bottom: 1rem;
}