.searchBar {
  display: flex;
  justify-content: space-between;
}

.searchInput {
  margin-bottom: 10px;
}
.searchBarContent {
  display: flex;
  align-items: center;
}

.btn-success,
.addBillButtonContainer {
  margin-left: auto;
}

.tableContainer.tableListrik {
  max-height: calc(90vh - 170px);
  overflow-y: auto;
}
