.pasarEditBtn {
    margin-bottom: 10px;
}

.createButton {
    margin-top: 0px;
    margin-bottom: 10px;
}

.tableContainer.tablePajak {
    max-height: calc(90vh - 175px);
    overflow-y: auto;
  }

