nav {
  background-color: rgba(0, 0, 0, 0.781);
  display: flex;
  justify-content: space-between; 
  width: 100%; 
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color 0.5s ease;
}

nav:hover {
  background-color: white;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li.logout {
  margin-left: auto;
  color: red;
}

nav ul li a {
  font-size: 25px; 
  color: #36F179; 
  text-decoration: none; 
}

nav ul li a:hover {
  color: rgb(0, 0, 0);
}

nav ul li.logout a {
  color: rgb(250, 250, 250);
}

nav ul li.logout a:hover {
  color: rgb(17, 153, 78);
}

.logoutButton {
    background-color: white;
}

